{% extends 'chatbot/base.html' %} {% load static %} {% block content %}
<div class="chatbot-container">
	<header class="chatbot-header">
		<div class="chatbot-logo">
			<img
				src="{% static 'chatbot/images/gift chatbot.png' %}"
				alt="Chatbot Logo"
			/>
		</div>
		<h1 class="logo-text">Gifty</h1>
	</header>

	<!-- Chat Messages -->
	<div class="chatbot-messages">
		<!-- Initial Prompt from Backend -->
		<div class="message ai-response fade-in"></div>
	</div>

	<!-- Footer with Input -->
	<footer class="chatbot-footer">
		<div class="input-container">
			<input
				type="text"
				id="user-input"
				placeholder="Type your message..."
				autocomplete="off"
				required
			/>
			<button type="button" class="btn-send" id="send-message">&#8593;</button>
		</div>
	</footer>
</div>
{% endblock %}
